<footer class="center container-background">

  <div class="container bs-footer">
    <ul class="footer-links">
      <li>
        <i class="footerLogo"></i>
      </li>
      <li class="muted">&nbsp;</li>
      <li><a href="javascript:void(0);">&copy; 2014 Accela</a></li>
      <li class="muted">&nbsp;</li>
      <li><a href="http://engage.accela.com/Contactus.html"><span xxx-ng-bind="Language.Label.Footer_Contact"></span></a></li>
      <li class="muted">&nbsp;</li>
      <li><a href="http://www.accela.com/company"><span xxx-ng-bind="Language.Label.Footer_Company"></span></a></li>
      <li class="muted">&nbsp;</li>
      <li><a href="#/Analytics"><span xxx-ng-bind="Language.Label.Footer_Analytics"></span></a></li>
      <li class="muted">&nbsp;</li>
      <li>
        <a href="/VersionInfo.html">Version</a>
      </li>
      <li class="muted">&nbsp;</li>
      <li>
        <div class="btn-group">
          <a href="javascript:;">
            <span class="dropdown-toggle" xxx-ng-bind="Language.Label.Footer_More"></span>
            <span class="caret"></span>
          </a>
        </div>
      </li>

    </ul>
  </div>
</footer>
