<div>
  <div id="big-nav" class="main-nav" ng-include="'views/partials/sidenav.html'" ng-controller="SideNavController"></div>

  <div xxx-ng-controller="ConfirmController">
    <div xxx-ng-view class="page-content">
    </div>
    <div xxx-ng-include src="'/AppViews/Common/Confirm.html'"></div>
    <div xxx-ng-include src="'/AppViews/Common/MessageBox.html'"></div>
  </div>
</div>

<div class="page-content" ng-include="'views/partials/dashboard.html'"></div>

<!-- <script type="text/ng-template" id="templateSpaceNew.html"> -->
<!-- temporarily moved to /views/templates/templateSpaceNew.js -->
