<div class="dashboard" ng-controller="DashboardController">
  <header class="masthead" ng-include="'views/core/masthead.html'"></header>
  <div class="row">
    <div class="col-md-8">
      <section class="my-tasks">
        <header class="col-md-12">
          <div class="title float-left">Current Tasks</div>
          <div class="counter float-left badge">{{myTasks.length || 0}}</div>
          <div class="sort-by float-left">
            <span class="float-left">Sort by:</span>
            <div class="dropdown float-left">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{dashboard.myTasks.orderByText}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="sort in dashboard.myTasks.sortBy" bind-once="">
                  <a href="" role="menuitem" tabindex="-1"
                     bind-once="" ng-bind="sort.text"
                     ng-click="toggleMyTasksOrderBy(sort)"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="toggle-menu float-left">
            <div class="btn-group" ng-init="radioModel='Left'">
              <button type="button" class="btn btn-default" ng-model="dashboard.myTasks.toggleView" btn-radio="'Grid'">
                <i class="icon-grid"></i>
              </button>
              <button type="button" class="btn btn-default" ng-model="dashboard.myTasks.toggleView" btn-radio="'List'">
                <i class="icon-list"></i>
              </button>
            </div>
          </div>
          <span loading show-model="dashboard.myTasks.loading" class="pull-right"></span>
        </header>
        <div class="tasks row" ng-class="{'list-view' : dashboard.myTasks.toggleView === 'List'}">
          <div ng-class="{'col-xs-6' : dashboard.myTasks.toggleView === 'Grid', 'col-md-12' : dashboard.myTasks.toggleView ==='List'}"
            ng-repeat="task in myTasks | orderBy:dashboard.myTasks.orderByValue | limitTo:dashboard.myTasks.limitTo">
            <div class="task">
              <div class="title">
                <a href="#/PermitSummary/{{task.recordId.id}}"
                   bind-once="" ng-bind="task.recordId.customId"></a>
              </div>
              <div class="type display-ellipsis">
                <div class="type-name display-ellipsis">{{task.permitType || '&nbsp;'}}</div>
                <div class="project-name display-ellipsis">{{task.projectName || 'Project Name'}}</div>
              </div>
              <div class="status">
                <span class="status-name display-ellipsis">{{task.description | uppercase}}</span>
                <span class="status-date">{{task.statusDate | customDateFilter:'MM/dd/yy \'at\' h:mm a'}}</span>
              </div>
              <div class="footer">
                <div class="due-date">
                  <div class="title">Due</div>
                  <div class="value">
                    <div ng-if="task.dueDate != null && task.dueDate != undefined">
                      <span>{{task.dueDate | customDateFilter:'MM/dd/yy'}}</span>
                    </div>
                    <div ng-if="!task.dueDate">
                      <span>NA</span>
                    </div>
                  </div>
                </div>
                <div class="assigned-to">
                  <div class="title">Assigned to</div>
                  <div class="value">{{task.assignedUser.text}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer ng-show="myTasks.length > dashboard.myTasks.minLength">
          <a href ng-click="dashboard.myTasks.toggleLoading()">{{dashboard.myTasks.loadingMore}}</a>
        </footer>
      </section>
      <section class="closed-spaces">
        <header>
          <div class="title float-left">Recently Closed Spaces</div>
        </header>
        <ul class="spaces">
          <li ng-repeat="space in dashboard.userSpaces | limitTo:2"><!-- was limitTo:5 -->
            <span class="float-left">
              <img class="icon-permit-gray" ng-src="/images/layout/{{space.imgsrc}}"/>
            </span>
            <a href class="float-left display-ellipsis" ng-click="reopenSpace($index)">{{space.Name}}</a>
            <span class="float-left">{{space.Name}}</span>
            <span class="float-right">
              <i class="icon-close cursor-pointer" ng-click="deleteUserSpace($index)"></i>
            </span>
            <span class="float-right">{{space.customCreatedDate}}</span>
          </li>
        </ul>
      </section>
    </div>
    <div class="col-md-4">
      <section class="search-bar">
        <form name="simpleSearchForm" accela-form>
          <div class="input-group">
            <input type="text" class="form-control" name="txtKeyword" ng-model="dashboard.search.text" placeholder="Search..." ng-enter="globalSearch()"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="globalSearch()">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
          </div>
        </form>
      </section>
      <section class="activity-watch">
        <header>
          <div class="title float-left">
            Recent Activity
          </div>
        </header>
        <ul class="activity">
          <li ng-repeat="active in dashboard.activity.list | limitTo:dashboard.activity.limitTo">
            <a href class="badge pull-left">
              <!-- TODO: move this into entity -->
              <i ng-class="{'icon-address':active.type=='address',
                               'icon-comments':active.type=='comments',
                               'icon-email':active.type=='email',
                               'icon-locked':active.type=='locked',
                               'icon-people':active.type=='people',
                               'icon-workflow':active.type=='workflow'}"></i>
            </a>
            <div class="active-body">
              <span class="title">{{active.title}}</span>
              <span class="description display-ellipsis"><a href>{{active.permitId}}</a></span>
              <span class="fragment">{{active.date}}</span>
            </div>
          </li>
        </ul>
        <footer>
          <a href ng-click="toggleActivityLimitTo()">{{dashboard.activity.loadingMore}}</a>
        </footer>
      </section>
    </div>
  </div>
</div>
