<div ng-controller="MainController">
  <nav id="big-nav" class="main-nav">
    <div id="dashboardGroupDiv">
      <ul class="text-center">
        <li>
          <!-- remove class "active" when we have a controller  -->
          <ul class="list-unstyled active" ng-class="{'active' : activeSubMenu=='/'}">
            <li>
              <a href="#">
                <i class="icon-user"></i>
              </a>
            </li>
            <li><a href="#">Dashboard</a></li>
          </ul>
        </li>
        <li>
          <ul class="list-unstyled">
            <li class="notification"><span class="info-number">16</span></li>
            <li><a>Notifications</a></li>
          </ul>
        </li>
        <li>
          <ul class="list-unstyled no-bottom-boder">
            <li><img src="/images/layout/maps_icon.png" title="Map icon" /></li>
            <li><a>Maps</a></li>
          </ul>
        </li>
        <li class="li-space-new">
          <div class="row">
            <div class="col-md-7 text-left">
              <button type="button" class="space-new" ui-sref="console">
                <b>Console</b>
              </button>
            </div>
            <div class="col-md-5 hidden" style="padding-top:12px; xxx-display:none;" placement='right' template='templateSpaceNew.html' bs-popover>
              <a data-toggle="popover" class="isfixed" data-trigger='click' data-container='body' rel="popover" data-html="true" href="javascript:void(0);"><div class="caret">  </div></a>
            </div>
          </div>
        </li>
        <li class="li-space-new">
          <div class="row">
            <div class="col-md-7 text-left">
              <button type="button" id="btnSpaceNew" class="space-new" ng-click="changeUrl('spaceNew');">
                <div style="color:#e17d00; font-size:13px; top:0;" class="glyphicon glyphicon-plus"></div>
                <b>New</b>
              </button>
            </div>
            <div class="col-md-5 hidden" style="padding-top:12px; xxx-display:none;" placement='right' template='templateSpaceNew.html' bs-popover>
              <a data-toggle="popover" class="isfixed" data-trigger='click' data-container='body' rel="popover" data-html="true" href="javascript:void(0);"><div class="caret">  </div></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="spaces-group" id="spaceGroupDiv">
      <ul class="text-center">
        <li class="li-space-hot animate-repeat" id="space_{{space.ID}}" ng-show="$index<=showcount" id="li_{{space.ID}}" ng-class="{'li-space-df' : SpaceSelectedId == space.ID, 'li-space-close' : clickID == space.ID}" ng-repeat="space in spaceList">
          <div class="unpin li-space-hot-title">
            <div class="unpin-img" title="Unpin" ng-show="space.PinSortID!=0" ng-click="setClickSpace(space.ID); SpaceAction('Unpin', space.ID);">
              <img alt="Unpin" src="/images/layout/pinned_icon.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 word-break">
              <a href="javascript:void(0);" id="{{space.ID}}" ng-dblclick="dblclick(space.ID, space.Name);" ng-click="clickrouting(space.ID, space.URL, space.SpaceType)">
                <div><img id="imgspace{{space.ID}}" class="imgspace" ng-src="/images/layout/{{setimgcss(space.ID, space.SpaceType);}}" /></div>
                <div class="li-space-hot-title space-name" title="{{space.Name}}">{{substring(space.Name);}}</div>
              </a>
              <textarea id="textarea_{{space.ID}}" cols="13" ng-blur="UpdateSpaceList(space.ID)" xxx-style="display:none;" class="hidden">{{space.Name}}</textarea>
            </div>
            <div template='NewSpacePin.html' pin="true" pinsortid="{{space.PinSortID}}" spacetype="{{space.SpaceType}}" bs-popover class="space-menu-btn-group">
              <a href="javascript:void(0);" class="space-arrow-a space-menu-btn" id="a_{{space.ID}}" data-trigger='click' data-container='body' data-toggle="popover" rel="popover" data-html="true" ng-click="setClickSpace(space.ID);">
                <i class="caret"></i>
              </a>
            </div>
          </div>
        </li>
        <li template='templateMoreSpace.html' ng-show="spaceList.length>(showcount+1)" triggertype="mouseenter" more="true" bs-popover>
          <div class="word-break">
            <a href="javascript:void(0);" id="spaceMore" class="btn btn-default btn-xs space-more" data-trigger='click' data-container='body' data-toggle="popover" rel="popover" data-html="true">
              <i class="li-space-hot-title">{{spaceList.length-showcount-1}}</i>
              more
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div id="nav-last-li">
      <ul>
        <li class="col-md-6"><a href="#" ng-click="userLogout();"><img src="/images/layout/settings_icon.png" alt="Setting" /></a></li>
        <li class="col-md-6"><a href="#"><img src="/images/layout/help_icon.png" alt="Help" /></a></li>
      </ul>
    </div>
  </nav>

  <div xxx-ng-controller="ConfirmController">
    <div xxx-ng-view class="page-content">
    </div>
    <div xxx-ng-include src="'/AppViews/Common/Confirm.html'"></div>
    <div xxx-ng-include src="'/AppViews/Common/MessageBox.html'"></div>
  </div>
</div>

<div class="page-content" ng-include="'views/partials/dashboard.html'"></div>

<script type="text/ng-template" id="templateSpaceNew.html">
  <nav class="navbar navbar-default text-left navbar-group" role="navigation">
    <div class="collapse navbar-collapse navbar-search-form" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left navbar-search-form" role="search" xxx-ng-controller="PermitsSearchController">
        <div class="form-group">
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-form-group" data-toggle="dropdown"><b class="caret navbar-caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Permits</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <input type="text" class="form-control navbar-form-control" xxx-ng-model="searchkey" placeholder="I'm looking for...">
          <i class="icon-search navbar-search-button" xxx-ng-click="PermitsSearch(searchkey)"></i>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </nav>
  <ul class="nav nav-pillsbottom" id="myTab">
    <li class="active"><a href="javascript:void(0)#home" data-toggle="tab">List</a></li>
    <li><a href="javascript:void(0)#profile" data-toggle="tab">Assignments</a></li>
    <li><a href="javascript:void(0)#profile1" data-toggle="tab">Recent</a></li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade in active" id="home">
      <table class="table table-hover table-layout-auto">
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a href="#/Permits" class="btnclose" id="Permits" ng-click="Operate('Permits','/Permits');">Permits</a></li>
              <li>23 total &nbsp;&nbsp; 4 updated</li>
            </ul>
          </td>
          <td class="text-right">
            <button type="button" ng-click="locationGoto('/Intake')" class="btnclose btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus"></span> Create
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a href="#/Inspections" class="btnclose" id="Inspections" ng-click="Operate('Inspections','/Inspections');">Inspections</a></li>
              <li>12 total &nbsp;&nbsp; 6 updated</li>
            </ul>
          </td>
          <td class="text-right" xxx-ng-controller="CreateNewCtrl">
            <button type="button" class="btn btn-default btn-sm" ng-click="OpenCreateModal();">
              <span class="glyphicon glyphicon-plus"></span> Create
            </button>
            <div xxx-ng-include="'/AppViews/Inspector/CreateNew.html'" class="text-left"></div>
            <div xxx-ng-include="'/AppViews/Inspector/LookUpPermitID.html'" class="text-left"></div>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a class="btnclose" id="People" ng-click="Operate('People','/People');">People</a></li>
              <li>12 total &nbsp;&nbsp; 2 updated</li>
            </ul>
          </td>
          <td class="text-right">
            <button type="button" class="btn btn-default btn-sm">
                            <span class=" glyphicon glyphicon-plus">
                            </span> Create
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a class="btnclose" id="Locations" ng-click="Operate('Locations','/Locations');">Locations</a></li>
              <li>45 total &nbsp;&nbsp; 41 updated</li>
            </ul>
          </td>
          <td class="text-right">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus"></span> Create
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="profile">
      <table class="table table-hover table-layout-auto">
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a>Plans Distribution</a></li>
              <li>Routed for Review</li>
            </ul>
          </td>
          <td class="text-right">
            <span class="glyphicon glyphicon-time"> </span>1h
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a>Building Review</a></li>
              <li>In Process</li>
            </ul>
          </td>
          <td class="text-right">
            <span class="glyphicon glyphicon-time"> </span>3h
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a>Permit Issuance</a></li>
              <li>Scheduled</li>
            </ul>
          </td>
          <td class="text-right">
            <span class="glyphicon glyphicon-time"> </span>11h
          </td>
        </tr>
      </table>
    </div>
    <div class="tab-pane fade" id="profile1">
      <table class="table table-hover table-layout-auto">
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a>BLD-000031</a></li>
              <li>Residential Pool</li>
            </ul>
          </td>
          <td class="text-right">
            <ul class="list-unstyled">
              <li><span>Modified</span></li>
              <li>Today at 12:58 PM</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a>COM-00012</a></li>
              <li>Residential Pool</li>
            </ul>
          </td>
          <td class="text-right">
            <ul class="list-unstyled">
              <li><span>Modified</span></li>
              <li>Today at 11:58 PM</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><a>BLD-000027</a></li>
              <li>Residential Pool</li>
            </ul>
          </td>
          <td class="text-right">
            <ul class="list-unstyled">
              <li><span>Modified</span></li>
              <li>Today at 10:58 PM</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</script>
