
/* Icon - TODO: replace these with CSS Sprites
=============================================================================*/
.icon-favorite {
  background: url('../../images/star-df.png');
  display: inline-block;
  height: 17px;
  width: 18px;
}

.icon-favorite.hot {
  background: url('../../images/star-hot.png');
  display: inline-block;
  height: 17px;
  width: 18px;
}

.icon-search {
  background: url('../../images/search.png');
  display: inline-block;
  width: 22px;
  height: 22px;
}

.icon-search-hover {
  background: url('../../images/search-blue.png');
  display: inline-block;
  width: 22px;
  height: 22px;
}

.btn_search {
  border: 1px solid #66afe9;
}

.icon-search:hover {
  background: url('../../images/search-blue.png');
  display: inline-block;
  width: 22px;
  height: 22px;
}

.icon-close {
  background: url('../../images/close.png');
  display: inline-block;
  width: 13px;
  height: 13px;
}

.icon-dot {
  background: url('../../images/dot.png');
  display: inline-block;
  width: 4px;
  height: 4px;
}

.icon-high-arrow {
  background: url('../../images/high-arrow.png');
  width: 8px;
  height: 11px;
  display: inline-block;
}

.icon-low-arrow {
  background: url('../../images/high-arrow.png');
  width: 8px;
  height: 11px;
  display: inline-block;
  -moz-transform: rotate(180deg); /* FF3.5+ */
  -o-transform: rotate(180deg); /* Opera 10.5 */
  -webkit-transform: rotate(180deg); /* Saf3.1+, Chrome */
}

.icon-address {
  background: url('../../images/dashboard/db_address_icon.png');
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-comments {
  background: url('../../images/dashboard/db_comments_icon.png');
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-email {
  background: url('../../images/dashboard/db_email_icon.png');
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-locked {
  background: url('../../images/dashboard/db_locked_icon.png');
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-people {
  background: url('../../images/dashboard/db_people_icon.png');
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-workflow {
  background: url('../../images/dashboard/db_workflow_icon.png');
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-grid {
  background: url('../../images/dashboard/db_grid_icon.png');
  height: 13px;
  width: 17px;
  display: inline-block;
}

.icon-list {
  background: url('../../images/dashboard/db_list_icon.png');
  height: 13px;
  width: 17px;
  display: inline-block;
}

.icon-approved {
  background: url('../../images/summary_approved_icon.png');
  height: 20px;
  width: 20px;
  display: inline-block;
}

.icon-document {
  background: url('../../images/summary_document_icon.png');
  height: 20px;
  width: 20px;
  display: inline-block;
}

.icon-flag {
  background: url('../../images/flag-icon.png');
  height: 12px;
  width: 12px;
  display: inline-block;
}

.btn-group .active .icon-grid {
  background: url('../../images/dashboard/db_grid_active_icon.png');
}

.btn-group .active .icon-list {
  background: url('../../images/dashboard/db_list_active_icon.png');
}

.icon-user {
  background: url('../../images/user_avator.png');
  height: 30px;
  width: 30px;
  display: inline-block;
}

.icon-task {
  background: url('../../images/task-icon.png');
  height: 13px;
  width: 13px;
  display: inline-block;
}

.icon-diamond {
  background: url('../../images/diamond-icon.png');
  width: 14px;
  height: 14px;
  display: inline-block;
}

.icon-diamond-orange {
  background: url('../../images/diamond-orange-icon.png');
  width: 14px;
  height: 14px;
  display: inline-block;
}

.icon-record-diamond {
  background: url('../../images/record-diamond-icon.png');
  width: 12px;
  height: 12px;
  display: inline-block;
}

.icon-record-diamond-orange {
  background: url('../../images/record-diamond-orange-icon.png');
  width: 12px;
  height: 12px;
  display: inline-block;
}

.icon-record-diamond-gray {
  background: url('../../images/record-diamond-gray-icon.png');
  width: 12px;
  height: 12px;
  display: inline-block;
}

.icon-chat {
  background: url('../../images/chat-icon.png');
  width: 14px;
  height: 16px;
  display: inline-block;
}

.icon-chat-disabled {
  background: url('../../images/chat-disabled-icon.png');
  width: 14px;
  height: 16px;
  display: inline-block;
}

.icon-history {
  background: url('../../images/history-icon.png');
  width: 10px;
  height: 12px;
  display: inline-block;
}

.icon-history-disabled {
  background: url('../../images/history-disabled-icon.png');
  width: 10px;
  height: 12px;
  display: inline-block;
}

.icon-clock {
  background: url('../../images/clock-icon.png');
  width: 14px;
  height: 14px;
  display: inline-block;
}

.icon-dot-orange {
  background: url('../../images/dot-icon.png');
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-circle {
  background: url('../../images/circle-icon.png');
  width: 20px;
  height: 20px;
  display: inline-block;
}

.icon-insert {
  background: url('../../images/insert-icon.png');
  width: 14px;
  height: 10px;
  display: inline-block;
}

.icon-view {
  background: url('../../images/view-icon.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}

.icon-choose {
  background: url('../../images/choose-icon.png');
  display: inline-block;
  height: 12px;
  width: 13px;
  margin-bottom: -1px;
}

.icon-permit-gray {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-top: -4px;
}

.icon-location {
  background: url('../../images/location-icon.png');
  display: inline-block;
  height: 14px;
  width: 10px;
}

.icon-location-gray {
  background: url('../../images/location-gray-icon.png');
  display: inline-block;
  height: 14px;
  width: 10px;
}

.icon-phone-gray {
  background: url('../../images/phone-gray-icon.png');
  display: inline-block;
  height: 14px;
  width: 10px;
}

.icon-SMS-gray {
  background: url('../../images/SMS-gray-icon.png');
  display: inline-block;
  height: 12px;
  width: 12px;
}

.icon-email-gray {
  background: url('../../images/email-gray-icon.png');
  display: inline-block;
  height: 9px;
  width: 12px;
}

.icon-star-hot-gray {
  background: url('../../images/star-gray-hot.png');
  display: inline-block;
  height: 13px;
  width: 13px;
}

.icon-menu {
  background: url('../../images/menu-icon.png');
  display: inline-block;
  height: 6px;
  width: 12px;
}

.icon-menu.up {
  /*
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  */
  transform: rotate(180deg);
}

.icon-info {
  background: url('../../images/info-icon.png');
  display: inline-block;
  height: 13px;
  width: 13px;
}

.icon-pending {
  background: url('../../images/icon-pending.png');
  height: 13px;
  width: 13px;
  display: inline-block;
}

.icon-met {
  background: url('../../images/icon-met.png');
  height: 13px;
  width: 13px;
  display: inline-block;
}

.diamond {
  /*
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  */
  transform: rotate(-45deg);
  /*
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  */
  transform-origin: 0 100%;
}
