.navbar-right {
    float: left !important;
}

#header .navbar-form .search-condition {
    left: 0;
    right: auto;
}

.subnavbar .mainnav {
    float: right;
}

.subnavbar .subnavbar-right {
    float: left;
}

.subnavbar .subnavbar-form {
    float: right;
}

.subnavbar .mainnav > li {
    float: right;
}

.widget .widget-header .buttons {
    float: left !important;
}

.widget .widget-header h3 {
    right: 25px;
    left: auto;
}

.widget .widget-header .line {
    float: left;
}

.summary-right-layout {
    padding-left: 5px;
    padding-right: 25px;
}

.float-right {
float:left;
}

.float-left {
    float:right;
}

.text-right {
    text-align:left;
}

.text-left {
    text-align:right;
}

.clear-col-left-padding{
    padding-right:0px !important;
}
.clear-col-right-padding{
    padding-left:0px !important;
}


.custom-border-ar-left{
    border-right:1px solid #E3E3E3;
}
.custom-border-ar-right{
    border-left:1px solid #E3E3E3;
}

@media (max-width: 992px) {
    .clear-col-left-padding{
        padding-right:15px !important;
    }
    .clear-col-right-padding{
        padding-left:15px !important;
    }
}

.col-ss-1,
.col-ss-2,
.col-ss-3,
.col-ss-4,
.col-ss-5,
.col-ss-6,
.col-ss-7,
.col-ss-8,
.col-ss-9,
.col-ss-10,
.col-ss-11,
.col-ss-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media(min-width:480px) {
    .col-ss-1,
    .col-ss-2,
    .col-ss-3,
    .col-ss-4,
    .col-ss-5,
    .col-ss-6,
    .col-ss-7,
    .col-ss-8,
    .col-ss-9,
    .col-ss-10,
    .col-ss-11 {
        float: right;
    }

    .col-ss-1 {
        width: 8.333333333333332%;
    }

    .col-ss-2 {
        width: 16.666666666666664%;
    }

    .col-ss-3 {
        width: 25%;
    }

    .col-ss-4 {
        width: 33.33333333333333%;
    }

    .col-ss-5 {
        width: 41.66666666666667%;
    }

    .col-ss-6 {
        width: 50%;
    }

    .col-ss-7 {
        width: 58.333333333333336%;
    }

    .col-ss-8 {
        width: 66.66666666666666%;
    }

    .col-ss-9 {
        width: 75%;
    }

    .col-ss-10 {
        width: 83.33333333333334%;
    }

    .col-ss-11 {
        width: 91.66666666666666%;
    }

    .col-ss-12 {
        width: 100%;
    }
}
