<div id="tileGroupDiv">
  <ul class="text-center">
    <li sidenav-tooltip="Dashboard">
      <ul class="list-unstyled active" ng-class="{'active' : activeSubMenu === '/'}">
        <li>
          <a href="#">
            <i class="icon-user"></i>
          </a>
        </li>
        <li><a href="#">Dashboard</a></li>
      </ul>
    </li>
    <li sidenav-tooltip="Notifications">
      <ul class="list-unstyled">
        <li class="notification"><span class="info-number">16</span></li>
        <li><a>Notifications</a></li>
      </ul>
    </li>
    <li sidenav-tooltip="Maps">
      <ul class="list-unstyled no-bottom-border">
        <li><img src="/images/layout/maps_icon.png" /></li>
        <li><a>Maps</a></li>
      </ul>
    </li>
    <li class="li-space-new"><!-- NOTE: these are the sidenav buttons -->
      <div class="row">
        <div class="col-md-7 text-left">
          <button type="button" class="space-new" ui-sref="console">
            <b>Console</b>
          </button>
        </div>
        <div class="col-md-5 hidden" style="padding-top:12px; xxx-display:none;" placement='right' template='templateSpaceNew.html' bs-popover>
          <a data-toggle="popover" class="isfixed" data-trigger='click' data-container='body' rel="popover" data-html="true" href="#" xxx-href="javascript:void(0);"><div class="caret">  </div></a>
        </div>
      </div>
    </li>
    <li class="li-space-new">
      <div class="row">
        <div class="col-md-7 text-left">
          <button type="button" id="btnSpaceNew" class="space-new" ng-click="changeUrl('spaceNew');">
            <div style="color:#e17d00; top:0;" class="glyphicon glyphicon-plus"></div>
            <b>New</b>
          </button>
        </div>
        <div class="col-md-5 hidden" style="padding-top:12px; xxx-display:none;" placement='right' template='templateSpaceNew.html' bs-popover>
          <a data-toggle="popover" class="isfixed" data-trigger='click' data-container='body' rel="popover" data-html="true" href="#" xxx-href="javascript:void(0);"><div class="caret">  </div></a>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="spaces-group" id="spaceGroupDiv">
  <ul class="text-center">
    <li class="li-space-hot animate-repeat" id="space_{{space.ID}}" ng-show="($index + 1) <= showcount" id="li_{{space.ID}}" ng-class="{'li-space-df' : SpaceSelectedId == space.ID, 'li-space-close' : clickID == space.ID}" ng-repeat="space in spaceList">
      <div class="unpin li-space-hot-title">
        <div class="unpin-img" ng-show="space.PinSortID!=0" ng-click="setClickSpace(space.ID); SpaceAction('Unpin', space.ID);" sidenav-tooltip="Unpin" xxx-tooltip="Unpin" xxx-tooltip-trigger="mouseenter" xxx-tooltip-placement="right" xxx-tooltip-popup-delay="500">
          <img alt="Unpin" src="/images/layout/pinned_icon.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 word-break">
          <a href="#" xxx-href="javascript:void(0);" id="{{space.ID}}" ng-dblclick="dblclick(space.ID, space.Name);" ng-click="clickrouting(space.ID, space.URL, space.SpaceType)">
            <div><img id="imgspace{{space.ID}}" class="imgspace" ng-src="/images/layout/{{setimgcss(space.ID, space.SpaceType);}}" /></div>
            <div class="li-space-hot-title space-name">{{substring(space.Name);}}<span class="sr-only">{{space.Name}}</span></div>
          </a>
          <!--<textarea id="textarea_{{space.ID}}" cols="13" ng-blur="UpdateSpaceList(space.ID)" xxx-style="display:none;" class="hidden">{{space.Name}}</textarea>-->
        </div>
        <div xxx-template='NewSpacePin.html' xxx-pin="true" xxx-pinsortid="{{space.PinSortID}}" xxx-spacetype="{{space.SpaceType}}" xxx-bs-popover class="space-menu-btn-group" sidenav-tooltip="menu here" xxx-tooltip="menu here" xxx-tooltip-trigger="mouseenter" xxx-tooltip-placement="right" xxx-tooltip-popup-delay="500">
          <a href="#" xxx-href="javascript:void(0);" class="space-arrow-a space-menu-btn" id="a_{{space.ID}}" xxx-data-trigger='click' xxx-data-container='body' xxx-data-toggle="popover" xxx-rel="popover" xxx-data-html="true" ng-click="setClickSpace(space.ID);">
            <i class="caret"></i>
          </a>
        </div>
      </div>
    </li>
    <li class="dropdown" template='templateMoreSpace.html' ng-show="spaceList.length > showcount" triggertype="mouseenter" more="true" bs-popover xxx-dbb-tooltip="menu here">
      <div class="word-break">
        <a href="#" xxx-href="javascript:void(0);" id="spaceMore" class="btn btn-default btn-xs space-more dropdown-toggle" data-toggle="dropdown" xxx-data-trigger='click' xxx-data-container='body' xxx-data-toggle="popover" xxx-rel="popover" xxx-data-html="true">
          <i class="li-space-hot-title">{{spaceList.length - showcount}}</i>
          more
        </a>
      </div>
      <ul class="dropdown-menu side-dropdown-menu">
        <li><a href="#"><i></i>View Account</a></li>
        <li><a href="#"><i></i>Preferences</a></li>
        <li><a href="#" ng-click="userLogout()"><i></i>Logout</a></li>
      </ul>
    </li>
  </ul>
</div>
<div id="nav-last-li">
  <ul>
    <li class="col-md-6"><a href="#" ng-click="userLogout();"><img src="/images/layout/settings_icon.png" alt="Setting" /></a></li>
    <li class="col-md-6"><a href="#"><img src="/images/layout/help_icon.png" alt="Help" /></a></li>
  </ul>
</div>
