<!-- Main Menu -->
<div id="tileGroupDiv">
  <ul class="text-center">
    <li sidenav-tooltip="Dashboard">
      <ul class="list-unstyled active" ng-class="{'active' : activeSubMenu === '/'}">
        <li>
          <a href="#">
            <i class="icon-user"></i>
          </a>
        </li>
        <li><a href="#">Dashboard</a></li>
      </ul>
    </li>
    <li sidenav-tooltip="Maps">
      <ul class="list-unstyled">
        <li><img src="/images/layout/maps_icon.png" /></li>
        <li><a href="#">Maps</a></li>
      </ul>
    </li>
    <li sidenav-tooltip="Search">
      <ul class="list-unstyled">
        <li><a href="#">search</a></li>
      </ul>
    </li>
    <li sidenav-tooltip="New...">
      <ul class="list-unstyled no-bottom-border">
        <li><a href="#" ng-click="changeUrl('spaceNew')">new</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- Spaces Menu -->
<div class="spaces-group" id="spaceGroupDiv">
  <ul class="text-center">
    <!-- Space -->
    <li class="li-space-hot animate-repeat" id="space_{{space.ID}}" ng-show="($index + 1) <= showcount" id="li_{{space.ID}}" ng-class="{'li-space-df' : SpaceSelectedId == space.ID, 'li-space-close' : clickID == space.ID}" ng-repeat="space in spaceList">
      <div class="unpin li-space-hot-title">
        <div class="unpin-img"
             ng-show="space.PinSortID !== 0"
             ng-click="setClickSpace(space.ID); spaceAction('unpin', space.ID);"
             tooltip="Unpin" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip-popup-delay="500">
          <img alt="Unpin" src="/images/layout/pinned_icon.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 word-break">
          <a href="#"
             ng-dblclick="dblClick(space.ID, space.Name);"
             ng-click="clickRouting(space.ID, space.URL, space.SpaceType)">
            <div><img ng-src="/images/layout/{{setImage(space.ID, space.SpaceType)}}" /></div>
            <div class="li-space-hot-title space-name display-ellipsis">{{space.Name}}<span class="sr-only">{{space.Name}}</span></div>
          </a>
        </div>
        <!-- trigger for context menu -->
        <div class="space-menu-btn-group" side-context-menu="{{space.ID}}">
          <a href="#" class="space-arrow-a space-menu-btn" ng-click="setClickSpace(space.ID);">
            <i class="caret"></i>
          </a>
        </div>
      </div>
      <!-- context menu -->
      <ul class="dropdown-menu side-context-menu" id="side-context-menu-{{space.ID}}">
        <li><a href="#" ng-show="space.PinSortID === 0" ng-click="spaceAction('pin', space.ID)">Pin</a></li>
        <li><a href="#" ng-show="space.PinSortID !== 0" ng-click="spaceAction('unpin', space.ID)">Unpin</a></li>
        <li><a href="#" ng-click="spaceAction('duplicate', space.ID)">Duplicate</a></li>
        <li><a href="#" ng-click="spaceAction('rename', space.ID)">Rename</a></li>
        <li><a href="#" ng-click="spaceAction('quickadd', space.ID)">Quick Add</a></li>
        <li><a href="#" ng-click="spaceAction('close', space.ID)">Close</a></li>
      </ul>
    </li>
    <!-- n more -->
    <li ng-show="spaceList.length > showcount">
      <div class="word-break">
        <!-- trigger for context menu -->
        <a href="#" side-context-menu="more" class="btn btn-default btn-xs space-more">
          <i>{{spaceList.length - showcount}}</i> more
        </a>
      </div>
      <!-- context menu -->
      <ul class="dropdown-menu side-context-menu" id="side-context-menu-more">
        <li ng-repeat="space in spaceList" ng-show="($index + 1) > showcount"><a href="#" class=" display-ellipsis">{{space.Name}}</a></li>
      </ul>
    </li>
  </ul>
</div>
<!-- Footer Menu -->
<div id="nav-last-li">
  <ul>
    <li class="col-md-6"><a href="#" ng-click="userLogout();"><img src="/images/layout/settings_icon.png" alt="Setting" /></a></li>
    <li class="col-md-6"><a href="#"><img src="/images/layout/help_icon.png" alt="Help" /></a></li>
  </ul>
</div>
