/*/*rbui_modal_window*/
/*.rbui_modal_main {
    display: none;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    opacity: 0;
    height: 100% ;
    transition: opacity linear 0.2s,left ease-in 0.1s;
}

    .rbui_modal_main.open {
        opacity: 1;
        left: 340px;
        z-index:1030;
    }

.rbui_modal_layer {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.rbui_modal_window {
    position: relative;
    z-index: 1040;
    border: 1px solid #cccccc;
    border-top: none;
    width: 790px;
    margin-left: 30px;
    margin-right: 20px;
    height:100%;
}
.rbui_modal_window_smart {
    position: relative;
    z-index: 1040;
    border: 1px solid #cccccc;
    border-top: none;
    width: 446px;
    margin-left: 354px;
    margin-right: 20px;
    height:100%;
}

.rbui_modal_window_title {
    background-color: #f6f6f6;
    border-bottom: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    line-height: 32px;
}

.rbui_modal_window_close {
    float: right;
    cursor: pointer;
    font-weight: 800;
    font-size: 13px;
    padding: 4px 5px;
}

.rbui_modal_window_content {
    background-color: white;
    width: 100%;
    padding-bottom: 15px;
    height:100%;
}

.rbui_modal_content {
    position: relative;
    width: 790px;
    left: 370px;
}

.rbui_modal_window_overflow {
    position: fixed;
    width: 100%;
    left: 0;
    overflow-y: auto;
    height: calc(100% - 100px);
}

.rbui_modal_window_footer {
    position: fixed;
    bottom: 0;
    height:60px;
    width: 790px;
    left: 370px;
}


@media(max-width:768px) {
    .rbui_modal_window {
        width: 466px;
        margin-left: 30px;
        margin-right: 20px;
    }
    .rbui_modal_window_smart {
        width: 446px;
        margin-left: 30px;
        margin-right: 20px;
    }

    .rbui_modal_content {
        position: relative;
        width: 466px;
        left: 280px;
    }

    .rbui_modal_window_footer {
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 466px;
        left: 280px;
    }

    .rbui_modal_main.open {
        opacity: 1;
        left: 252px;
    }
}*/
/*end rbui_modal_window*/

.rbui_modal_main {
    display: none;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    opacity: 0;
    height: 100% ;
    transition: opacity linear 0.2s,left ease-in 0.1s;
}

    .rbui_modal_main.open {
        opacity: 1;
        z-index:1030;
    }

.rbui_modal_layer {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.rbui_modal_window724 {
    position:absolute;
    z-index: 10000;/*1040*/
    border: 1px solid #cccccc;
    border-top: none;
    width:724px;
    height:100%;
    right:0px;
}

.rbui_modal_window {
    position:absolute;
    z-index: 10000;/*1040*/
    border: 1px solid #cccccc;
    border-top: none;
    width:790px;
    height:100%;
    right:0px;
}
.rbui_modal_window_smart {
    position: absolute;
    z-index: 10000;
    border: 1px solid #cccccc;
    border-top: none;
    width: 463px;
    right:0;
    height:100%;
}

.rbui_modal_window_title {
    background-color: #f6f6f6;
    border-bottom: 1px solid #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    line-height: 32px;
}

.rbui_modal_window_close {
    float: right;
    cursor: pointer;
    font-weight: 800;
    font-size: 13px;
    padding: 4px 5px;
}

.rbui_modal_window_content {
    background-color: white;
    width: 100%;
    padding-bottom: 15px;
    height:100%;
}

.rbui_modal_content {
   position: absolute;
    overflow-y: auto;
    height: calc(100% - 100px);
}

.rbui_modal_window_overflow {
    
}

.rbui_modal_window_footer {
    background:#fff;
    position: absolute;
    bottom: 0;
    height:60px;
    width:100%;
}


@media(max-width:768px) {
    .rbui_modal_window {
        width: 718px;
        margin-left: 30px;
    }
    .rbui_modal_window_smart {
        width: 463px;
    }

    .rbui_modal_content {
      
    }

    .rbui_modal_window_footer {
       bottom: 30px;
    }

    .rbui_modal_main.open {
        opacity: 1;
    }
}
